<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_MetaPartial")
    @await Html.PartialAsync("_CssPartial")
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        @await Html.PartialAsync("_FooterPartial")
    </div>

    @await Html.PartialAsync("_ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
